Repository pantheon-org/opencode-warcraft-notifications: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, typecheck, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      run: 'npx prettier --write "{staged_files}"'
      glob: '**/*.{ts,tsx,js,jsx,json,md,css,scss,html}'
    eslint:
      run: 'npx eslint --fix "{staged_files}"'
      glob: 'src/**/*.{ts,tsx,js,jsx}'
    typecheck:
      run: 'npm run type-check'
      glob: '**/*.{ts,tsx}'
    test:
      run: 'bun test "{staged_files}"'
      glob: '**/*.{spec.ts,spec.tsx,spec.js,spec.jsx,test.ts,test.tsx,test.js,test.jsx}'

pre-push:
  parallel: false
  commands:
    typecheck:
      run: 'npm run type-check'
    # Unit tests only - E2E tests run in CI/CD via GitHub Actions
    test:
      run: 'bun test src/'

docs: add npm authentication and token renewal documentation (#167)
  .github/workflows/2-publish.yml
  docs/documentation-map.md
  docs/index.md
  docs/npmjs/authentication.md
  docs/npmjs/index.md
  docs/npmjs/token-renewal.md
  lefthook.yml
Due: prettier

chore: add automated release cleanup workflow
  .github/workflows/README.md
  .github/workflows/chores-cleanup-releases.yml
Due: prettier

chore: add automated release cleanup workflow (#168)
  .github/workflows/README.md
  .github/workflows/chores-cleanup-releases.yml
Due: prettier

docs: enhance documentation with Windows support, performance metrics, and diagnostic flowcharts
  README.md
  docs/api.md
  docs/troubleshooting.md
Due: prettier

docs: enhance documentation with Windows support, performance metrics, and diagnostic flowcharts (#169)
  README.md
  docs/api.md
  docs/troubleshooting.md
Due: prettier

fix: auto-add frontmatter to docs without it
  pages/transform-docs.js
Due: prettier

chore(main): release 1.1.1
  .github/.release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier

docs: update GitHub Pages deployment workflow and documentation
  .github/workflows/deploy-docs.yml
  docs/deployment.md
  docs/github-workflows/overview.md
  docs/pipeline.md
Due: prettier

docs: update GitHub Pages deployment workflow and documentation (#170)
  .github/workflows/deploy-docs.yml
  docs/deployment.md
  docs/github-workflows/overview.md
  docs/pipeline.md
Due: prettier

fix: correct documentation paths in docs-regenerate workflow
  .github/workflows/chores-docs-regenerate.yml
Due: none

fix: correct documentation paths in docs-regenerate workflow (#171)
  .github/workflows/chores-docs-regenerate.yml
Due: none

chore(main): release 1.1.1 (#166)
  .github/.release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier

fix: remove broken documentation links to non-existent files
  docs/documentation-map.md
  docs/github-workflows/docs-regeneration.md
Due: prettier

fix: remove broken sidebar links in astro config
  pages/astro.config.mjs
Due: none

chore(main): release 1.1.2
  .github/.release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier

chore: add markdownlint-cli2 for markdown linting
  .github/workflows/1-validate.yml
  .markdownlint-cli2.jsonc
  .prettierignore
  bun.lock
  lefthook.yml
  package.json
Due: none

chore: fix CHANGELOG.md formatting
  CHANGELOG.md
Due: none

chore: add markdownlint-cli2 for markdown linting (#173)
  .github/workflows/1-validate.yml
  .markdownlint-cli2.jsonc
  .prettierignore
  CHANGELOG.md
  bun.lock
  lefthook.yml
  package.json
Due: none

fix: Correctly check if bundled data directory exists
  src/bundled-sounds.ts
Due: prettier, typecheck

fix: upgrade astro-expressive-code from 0.38.3 to 0.41.5
  pages/package.json
Due: prettier

fix: upgrade @astrojs/starlight from 0.36.3 to 0.37.2
  pages/package.json
Due: prettier

chore: format files with prettier
  CHANGELOG.md
  src/bundled-sounds.ts
Due: prettier, typecheck

test: update expectations for bundled sounds installation after #175 fix
  src/bundled-sounds.unit.test.ts
Due: prettier, typecheck, test

feat: add Windows sound playback support
  src/notification.behavior.test.ts
  src/notification.ts
Due: prettier, typecheck, test

fix: handle backslash path separators in filename extraction
  src/notification-utils.test.ts
  src/notification-utils.ts
Due: prettier, typecheck, test

feat: add Windows primary sound playback via powershell.exe
  src/notification.behavior.test.ts
  src/notification.ts
Due: prettier, typecheck, test

fix: suppress powershell progress stream leaking into TUI input
  src/notification.behavior.test.ts
  src/notification.ts
Due: prettier, typecheck, test

feat: add Windows fallback sound for missing files
  src/notification.behavior.test.ts
  src/notification.ts
Due: prettier, typecheck, test

docs: update README for full Windows sound playback support
  README.md
Due: none

fix: fall back to SystemSounds when WAV playback fails on Windows
  src/notification.ts
Due: prettier, typecheck
